@import 'atlas-variables';

.portlet-item-selector {
	.management-bar {
		border-bottom-color: $secondary-l3;
	}

	.item-selector .entry-selector {
		cursor: pointer;
	}

	.item-selector-design-library-scope .card-type-asset-icon {
		color: $blue;
	}
}
